{# templates/base/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %} - MyApp</title>
    
    {# Global CSS #}
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include "components/navbar.html" %}
    
    {% block content_wrapper %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% endblock %}
    
    {% include "components/footer.html" %}
    
    {# Global JavaScript #}
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>